body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#parabens {
    display: none;
    text-align: center;
    padding: 20px;
    background-color: #2F4F4F;
    color: #fff;
    border-radius: 8px;
    font-size: 30px;
}
